.header{
    background-image: linear-gradient(0, red, orange);
    height: 120px;
}
.nav{
    display: flex;
    justify-content: space-between;

}
.nav-list{
    list-style: none;
    padding-left: 0;
    margin-top: 6px;
    margin-bottom: 0;
}
.nav-list-item{
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 8px;
    font-weight: 300;
    color: var(--white-color);
    position: relative;
    min-height: 26px;
}
.nav-list-item-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
}
.nav-list-item-bold {
    font-weight: 600;
    font-size: 1.5rem;
}
.nav-list-item:hover,
.nav-list-item-link:hover,
.nav-list-item-icon-link:hover,
.nav-list-item-icon:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.nav-list-item-icon-link {

}
.nav-list-item-icon {
    font-size: 1.7rem;
    color: var(--white-color);
    margin: 0 5px;
}
.nav-separate::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -11px;
    height: 12px;
    border-left: 2px solid #ffffff5e;

}

.nav-list-item,
.nav-list-item-icon,
.nav-list-item-icon-link,
.nav-list-item-link {
    display: inline-flex;
    align-items: center;
}

.nav-no-hover {
    cursor: text;
    color: var(--white-color);
}

.qr{
    position: absolute;
    top: 120%;
    left: 0;
    width: 173px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.8s;
}
.has-qr:hover .qr {
    display: block;
}
.qr::after {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20%;
}
.qr-img{
    width: 100%;
    border-radius: 2px;
}
.qr-apps{
    display: flex;
    justify-content: space-between;
}
.qr-apps-img{
    height: 16px;
}
.img-link:first-child {
    margin-left: 10px;
}
.img-link:last-child {
    margin-right: 10px; 
}




.notify{
    position: absolute;
    top: 120%;
    right: 0;
    width: 400px;
    background-color: white;
    border: 2px solid gray;
    transform-origin: calc(100% - 20px) top; 
    animation: chuyendong ease-in 0.3s;
    display: none;
    
}
.has-notify:hover .notify {
    display: block;
}
.notify::before {
    content: "";
    display: block;
    position: absolute;
    top: -22px;
    right: 0;
    height: 40px;
    width: 85px;
}
.notify::after {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    border-width: 20px 28px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    
}
.notify-header{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    margin: 15px 0;
    padding: 0 16px;
    height: 40px;
    display: flex;
    align-items: center;
}


@keyframes chuyendong {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify-header:hover {
    cursor: default;
}
.notify-header-hover:hover {
    cursor: text;

}
.notify-body{
    margin-top: 10px;
}
.notify-body-list{
    padding-left: 0px;
}
.notify-body-list-item{
    display: flex;
    align-items: flex-start;
    background-color: pink;
}
.notify-body-img{
    width: 65px;
    height: 35px;
    padding-left: 12px;
    margin-top: 16px;
    margin-right: 10px;
}
.notify-body-infor{
    
}
.notify-body-infor-title{
    margin-bottom: 0;
    color: black;
}
.notify-body-infor-content{
    color: #666;
    margin-top: 5px;
}
.notify-footer{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid gray;
}

.notify-hover:hover {
    background-color: white;
}

.notify-footer-f {
    text-decoration: none;
}
.notify-footer-f h2{
    margin: 0;
    padding: 15px 0;
}

.form-header{
    display: flex;
    justify-content: space-between;
}
.form-header-title-dn{
    margin-left:30px;
    font-size: 1.9rem;
    
    font-weight: 800;
}
.form-header-title-dk{
    margin-right: 30px;
    font-size: 1.6rem;
    
    color: red;
    font-weight: 800;
}
.form-header-title-dn:hover,
.form-header-title-dk:hover {
    cursor: pointer;
}
.form-header-body{
    margin-top: 20px;
}
.form-header-body-input{
    padding: 0 25px;
}
.form-header-body-input-item{
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    outline: none;
    padding: 0 13px;
    font-size: 1.4rem;
    font-weight: 600;
}
.form-header-body-input-item:focus {
    border-color: #888;
}
.form-header-body-input-item .placeholder{
    padding: 0 10px;
    margin: 0 10px;
}
.form-header-body-forget{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    align-items: center;
}
.form-header-body-forget-1{
    color: red;
    font-size: 1.5rem;
    
}
.form-header-body-forget-2{
    color: #666;
    font-size: 1.3rem;
}
.form-separate::after {
    content: "";
    display: block;
    border-left: 2px solid rgba(0, 0, 0, 0.319);
    height: 15px;
    margin: 0 10px;
}
.form-header-body-button{
    margin-top: 50px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
}
.form-header-body-button-cancel{
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    min-width: 142px;
    height: 36px;
    border: none;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
}
.form-header-body-button-cancel:hover {
    background-color: gray;
}
.form-header-body-button-apply{
    background-color: red;
    color: white;
    min-width: 142px;
    height: 36px;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
h3.btn-back {
    font-size: 1.5rem;
    margin: 0;
}
h3.btn-apply {
    font-size: 1.6rem;
    margin: auto;
}
.form-footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.216);
    height: 50px;
    align-items: center;
    padding: 16px 30px;
}
.form-footer-fb{
    background-color: blue;
    color: white;
    height: 32px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}
.form-footer-fb-img{
    font-size: 1.9rem;
    padding-left: 8px;
}
.form-footer-fb-name{
    margin: 0 15px;
}
.form-footer-gg{
    background-color: white;
    color: black;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    
}
.form-footer-gg-img{
    font-size: 1.9rem;
    padding-left: 8px;
}
.form-footer-gg-name{
    margin: 0 28px;
}

.nav-footer{
    display: flex;
    height: 85px;
    align-items: center;
}
.logo{
    width: 200px;
}
.logo-logo{
    width: 150px;
}
.search{
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: white;
    position: relative;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.search-text {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    padding: 0 12px;
    border-radius: 3px;
    border: none;
    outline: none;
}
.search-icon {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 4px;
    width: 50px;
    height: 30px;
    background-color: orange;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

.cart-icon {
    font-size: 20px;
    color: white;
}
.search-selection {
    border-left: 1px solid gray;
    padding-left: 16px;
    display: flex;
    align-items: center;
    width: 150px;
    position: relative;
}
.search-selection-lable {
    font-size: 1.4rem;
    color: var(--text-color);

}
.search-selection-icon {
    font-size: 1.4rem;
    margin: 0 16px;
}

.search-selection-option{
   position: absolute;
   top: 130%;
   right: 0;
   background-color: white;
   width: 150px;
   box-shadow: 0 0 1px black;
   display: none;
    
}
.search-selection-option-1{
    list-style: none;

}
.search-selection-option-1-title{
    font-size: 1.4rem;
}
.search-selection-option-1-icon{
    color: red;
}

.search-selection-option-2{
   

}
.search-selection-option-2-title{

}
.search-selection-option-2-icon{
    color: red;
}

.cart{
    width: 150px;
    text-align: center;
    position: relative;
}


.cart-no{
    width: 350px;
    position: absolute;
    background-color: white;
    right: 50px;
    top: 200%;
    border: 2px solid gray;
}
.cart-no::after {
    content: "";
    display: block;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 20px 24px;
    position: absolute;
    top: -30px;
    right: -1px;
}
.cart-no-img{
    padding: 20px 0px;
    width: 60%;
    display: none;

}
.cart-no-title{
    font-size: 1.4rem;
    display: none;
}

.cart-no-product .cart-no-img,
.cart-no-product .cart-no-title {
    margin: 0 auto;
    display: block;
}

.number {
    font-size: 1.4rem;
    background-color: white;
    color: orange;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: 53px;
    width: 20px;
    border: 1px solid gray;
}

.body-infor {
    width: 100%;
    padding: 10px 0 0 0;
}

.cart-has-products{

}
.cart-has-products-header{
    height: 30px;
    display: flex;
    
}
.cart-has-products-header span {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 15px 0 15px 20px;  
}
.cart-has-products-body{
    margin-top: 20px;
    
    padding-left: 0;
}
.cart-has-products-body-img img{
    height: 30px;
    width: 40px;
    margin: 12px;
    padding-left: 0;
}
.cart-has-products-body-item {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0 10px;
}
.cart-has-products-body-title{
    display: flex;
    justify-content: space-between;
    
}
.title-1{
    font-size: 1.4rem;
}
.price-1{
    font-size: 1.4rem;
}
.x-1{
    font-size: 1.2rem;
    margin: 0 5px;
}
.infor-price {

}
.quantity-1{
    font-size: 1.4rem;
}
.cart-has-products-body-content{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.content-1{
    font-size: 1.2rem;
}
.delete-1{
    font-size: 1.4rem;
}


.cart-has-products-footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 12px 5px 12px 0;
    padding: 0;
    
}   /* */

.cart-has-products-footer {
    background-color: red;
    color: white;
    outline: none;
    font-weight: 600;
    border: none;
    height: 30px;
    width: 110px;  
}